<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Confirm Field</title>

    <% vendorFiles.forEach(function (file) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- build:js(app/build) js/angular-confirm-field.min.js -->
    <script type="text/javascript" src="confirmField.js"></script>
    <!-- endbuild -->
    <script>
      var app = angular
        .module('demo', ['ng.confirmField'])

        .controller('demoCtrl', [
          '$scope',
          function (scope) {
          }
        ]);
    </script>
    <style>
      #form input.ng-valid {
        color: green;
      }
      #form input.ng-invalid {
        color: red;
      }
      #form.ng-valid {
        background: green;
      }
      #form.ng-invalid {
        background: red;
      }
    </style>
  </head>
  <body ng-app="demo" ng-controller="demoCtrl">
    <form id="form" name="form">
      <input name="my-email" ng-model="email"  />
      <input name="my-email-confirm" ng-model="emailconfirm" ng-confirm-field
        confirm-against="email" />
    </form>
  </body>
</html>

